<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Bid History</title>


    <link href="../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/style.css" rel="stylesheet" type="text/css">
    <script src="../resources/js/jquery-3.1.1.min.js" type="text/javascript"> </script>
    <script src="../resources/js/script.js" type="text/javascript"></script>
    <script src="../resources/bootstrap/js/bootstrap.min.js" type="text/javascript"> </script>
    
</head>

<body>
        <!-- Header -->
        <%- include('partition/header.ejs') %>

        <div class="container">

            <div class="row">
                <div class="col-md-9">
                    <h2> Bid History</h2>
                    <hr class="hrBidHistory">

                    <a href="/detail?id=<%- product.id %>"><span class="productTitle"> <%- product.name %></span> </a>
                    <div id="bidHeader">
                        <div class="bidInfoTitle">Bids: <span id="bids" class="bidInfor"><%- history.histories.length %></span></div>
                        <div class="bidInfoTitle">Time Left: <span id="timeLeftHistory" class="bidInfor"></span></div>
                    </div>
                    <hr class="hrBidHistory">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Bidder</th>
                                <th>Bid Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% history.histories.forEach((e) => { %>
                                <tr class="danger bidSucess">
                                    <td> <a href="#"><%- e.username %></a> </td>
                                    <td> US <span id=""><%- e.price %></span> </td>
                                </tr>
                            <%}) %>
                        </tbody>
                    </table>
                </div>
                <div class="bidPlaceHistory col-md-3 well">
                    <div class="itemInfor">
                        <h3>Item Information</h3>
                        <hr class="hrBidHistory">
                        <div>
                            <a href="/detail?id=<%- product.id %>"><%- product.name %></a>
                            <div class="itemTitle">Current Bid: <span id="currentBid"> US $<%- history.maxPrice %></span></div>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
            
        </div> 
        <!-- End container -->

        <script>
            const end_time = "<%- product.end_time %>";
        </script>
        <script src="/resources/js/moment.js"></script>
        <script src="/resources/js/bidHistory.js"></script>

    </body>
</html>