<!DOCTYPE html>

<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Buy Item</title>
        
        
        <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resources/css/style.css" rel="stylesheet" type="text/css">
        <script src="/resources/js/jquery-3.1.1.min.js" type="text/javascript"> </script>
        <script src="/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"> </script>
        <script src="/resources/js/script.js" type="text/javascript"></script>
        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <!-- Header -->
    <%- include('partition/header.ejs') %>

    <!-- Content -->
    <div class="content container">

        <div class="row">

            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Complete Delivery Information</h3></div>
                    <div class="panel-body">

                        <!-- form -->
                        <form class="form-horizontal" role="form">

                            <div class="form-group">
                                <label class="control-label col-sm-3">Receiver Email:</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="" name="email" placeholder="Email" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Receiver Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" placeholder="Receiver Name" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Country:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="country" placeholder="Country" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">City:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="city" placeholder="City" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Phone:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="phone" placeholder="Phone" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Shipping address:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" name="address" rows="4" placeholder="Write an address that deliver can give you Item" required="required"></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="payment">
                                <h3>Payment</h3>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <input type="radio" name="payment" class="radio-payment" checked>
                                            <span>Paypal</span>
                                        </label>
                                        <br>
                                        <i class="fa fa-cc-paypal fa-4x"></i>
                                    </div>
                                    
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <input type="radio" name="payment" class="radio-payment">
                                            <span>ATM</span>
                                        </label>
                                        <br>
                                        <i class="fa fa-credit-card fa-4x"></i>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <input type="radio" name="payment" class="radio-payment">
                                            <span>Master Card</span>
                                        </label>
                                        <br>
                                        <i class="fa fa-cc-mastercard fa-4x"></i>
                                    </div>
                                   
                                </div>
                            </div>
                            <br>
                            <div>
                                Please note that you may be pay for shipping fee!
                            </div>
                            <br>
                            <div>
                                <button onclick="orderThisItem(event)" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-send"></span> Order This Item</button>
                            </div>
                        </form>
                        <hr>
                        <div>
                            <button id="btnDontBuy" class="btn btn-danger btnShow"><span class="glyphicon glyphicon-exclamation-sign"></span> I don't want to buy this Item</button>
                            <button id="btnBuy" class="btn btn-success hide btnHide">Back to buy Item</button>
                            <div class="showdiv hide">
                                <br> We understand that you have a problem with this item.
                                <br> You are the winner in this Item Auction, but you want to cancel your order.
                                <br> In this case, we will deduct 5% of your order cancellation fee from your account.
                                <br> Tell us more about the problem you have encountered and confirm:
                                <br><br>
                                <form action="" method="POST" role="form">
                                
                                    <div class="form-group">
                                        <label for="">Description about your problem:</label>
                                        <textarea class="form-control" name="description" rows="4" placeholder="Tell us about your problem..." required="required"></textarea>
                                        
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Item Information</b></div>
                        <div class="panel-body">
                            <img src="<%- product.image %>" alt="http://i.ebayimg.com/images/g/EowAAOSwSclXMEe4/s-l1600.jpg" class="img-display table-bordered img-responsive">
                            <br>
                            <div class="row">
                                <div class="itemTitle col-sm-4">Item: </div>
                                <div class="col-sm-8">
                                    <a href="#"> <%- product.name %> </a>
                                </div>
                                <div class="itemTitle col-sm-4">Price: </div>
                                <div class="col-sm-8" style="font-size:20px;color:red;"> US $<%- price %></div>
                                <div class="itemTitle col-sm-4">Shipping: </div>
                                <div class="col-sm-8"> Free</div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ./row -->
    </div>

    <script>
        var orderThisItem = function() {
            const info = document.getElementsByClassName("form-control");
            const radioPayment = document.getElementsByClassName("radio-payment");
            let data = {
                info: {
                    recieverEmail: info[1].value,
                    recieverName: info[2].value,
                    country: info[3].value,
                    city: info[4].value,
                    phone: info[5].value,
                    shippingAddress: info[6].value,
                    price: "<%- price %>",
                    image: "<%- product.image %>",
                },
                status: "ordering",
                productId: "<%-productId%>",
                owner: "<%-owner%>",
            }
            if(radioPayment[0].checked) {
                data.payment = "paypal";
            } else if(radioPayment[1].checked) {
                data.payment = "atm";
            } else {
                data.payment = "mastercard";
            }

            if(data.info.recieverEmail === '' || data.info.recieverName === '' || data.info.country === '' || data.info.city === '' || data.info.phone === '' || data.info.shippingAddress === ''){
                alert('Vui lòng nhập đủ thông tin');
            }
            else {
                console.log(data);
                $.post("http://localhost:8080/saveBill", { data }, function(){
                window.location.replace("http://localhost:8080");
                });
                event.preventDefault();
            }
            
        }
    </script>
    
</body>
</html>