<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Edit Selling Product</title>


    <link href="../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/style.css" rel="stylesheet" type="text/css">
    <script src="../resources/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="../resources/js/script.js" type="text/javascript"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/resources/js/moment.js"></script>

    <!-- Font Lobster -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

</head>

<body>
    <!-- Header -->
    <%- include('partition/header.ejs') %>

        <!-- Content -->
        <div class="content container">

            <div class="row">
                <!-- NAV LEFT -->
                <%- include('partition/navLeft.ejs') %>

                    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8 contentRight">

                        <h1 class="title"> Edit Product</h1>
                        <br> <br>
                        <div class="box box-primary" style="margin: 0 auto; width:80%">

                            <!-- form -->
                            <form role="form" method="POST" action="/api/product/updateProduct">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" id="" name="productName" placeholder="Title" value="<%- product.name %>" required="required">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Startting Price ($):</label>
                                        <input type="number" class="form-control" name="SPrice" value="<%- product.price %>" required="required">
                                    </div>
                                    <div class="row">
                                    
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Start time:</label>
                                                <input type="datetime-local" class="form-control" name="Stime" min="" value="<%-  moment(product.start_time).format('YYYY-MM-DDTHH:mm') %>" required="required">
                                            </div>
                                        </div>
                                    
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>End time:</label>
                                                <input type="datetime-local" class="form-control" name="Etime" min="" value="<%- moment(product.end_time).format('YYYY-MM-DDTHH:mm') %>" required="required">
                                            </div>
                                        </div>
                                    
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" name="categoryId" id="categoryIdList">
                                            <option value="0000001">Electronic</option>
                                            <option value="0000002">Fashion</option>
                                            <option value="0000003">Sporting</option>
                                            <option value="0000004">Toys</option>
                                            <option value="0000005">Musical</option>
                                            <option value="0000006">Others</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Description</label>
                                        <br>
                                        <textarea class="form-control" name="description" rows="6" placeholder="Desctiption about this item..." required="required"><%= product.description %></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Images</label>
                                        <input type="text" id='exampleInputFile1' name='Img1' required='required' value="<%- product.image %>" style="width: 100%;">
                                        <!-- <input type="file" id="exampleInputFile1" name="Img1" required="required">
                                        <input type="file" id="exampleInputFile2" name="Img2" >
                                        <input type="file" id="exampleInputFile3" name="Img3" > -->
                                    </div>
                                    
                                    <input type="hidden" name="idProduct" value="<%- product._id %>">
                                    
                                </div>
                                <!-- /.box-body -->
                                <br>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-lg btn-primary">Complete Edit</button>
                                </div>
                            </form>


                        </div>
                    </div>

            </div>
            <!-- End conntent -->
            <br>
        </div>
</body>

<script>

    var timeNow = moment().format('YYYY-MM-DDTHH:mm');
    $("input[name='Etime']").attr('min', timeNow);

    $("#categoryIdList").val("<%- product.category %>");

</script>


</html>