<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Selling Item</title>


    <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet" type="text/css">
    <script src="/resources/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/resources/js/script.js" type="text/javascript"></script>

</head>

<body>
    <!-- Header -->
    <%- include('partition/header.ejs') %>
    <% if(message) { %>
        <div class="alert"><%= message %></div>
    <% } %>

        <!-- Content -->
        <div class="content container">
            <div class="row">
                <!-- NAV LEFT -->
                <%- include('partition/navLeft.ejs') %>

                    <div class="col-md-9 contentRight">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Selling Items</h3>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="/sellNewProduct" class="btn btn-info btn-lg">Sell New Product</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>You have
                                    <%- sellingProducts.length %> products are in selling:</p>
                                <div class="row">
                                    <!-- For each here -->
                                    <% sellingProducts.forEach((product) => { %>
                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                            <div class="table-bordered productPreview">
                                                <img src="<%- product.image %>" alt="http://i.ebayimg.com/images/g/EowAAOSwSclXMEe4/s-l1600.jpg" class="img-display table-bordered img-responsive">
                                                <div class="caption">
                                                    <a href="/detail?id=<%-product._id%>">
                                                        <h4 class="textPreview">
                                                            <%- product.name %>
                                                        </h4>
                                                    </a>
                                                    <div class="bidTimePreview">
                                                        <h4> Price:
                                                            <%- product.price %>$ </h4>
                                                        <div id="StartTime"> Start Time:
                                                            <%- moment(product.start_time).format('HH:mm:ss DD-MM-YYYY') %>
                                                        </div>
                                                        <div id="EndTime"> End Time:
                                                            <%- moment(product.end_time).format('HH:mm:ss DD-MM-YYYY') %>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href="#delete-<%-product._id%>" data-toggle="modal" class="btn btn-danger btnEdit">Delete</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="/editItem?id=<%-product._id%>" class="btn btn-primary btnEdit">Edit Info</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <!-- ./row -->


                                <% sellingProducts.forEach((product) => { %>
                                    <div class="modal fade" id="delete-<%-product._id%>">
                                        <form role="form" method="POST" action="/api/product/deleteProduct">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4>Delete
                                                            <%- product.name %>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>This action cannot redo. Are you sure delete item:
                                                            <b>
                                                                <%- product.name %>
                                                            </b>?</p>
                                                    </div>
                                                    <input type="hidden" name="idProduct" value="<%- product._id %>">
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                        <!-- ./panel -->


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Expired items</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>You have
                                    <%- soldProducts.length %> products being sold and was expired.</p>
                                <div class="row">
                                    <!-- For each here -->
                                    <% soldProducts.forEach((product) => { %>
                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                            <div class="table-bordered productPreview">
                                                <img src="<%- product.image %>" alt="http://i.ebayimg.com/images/g/EowAAOSwSclXMEe4/s-l1600.jpg" class="img-display table-bordered img-responsive">
                                                <div class="caption">
                                                    <a href="/detail?id=<%-product._id%>">
                                                        <h4 class="textPreview">
                                                            <%- product.name %>
                                                        </h4>
                                                    </a>
                                                    <div class="bidTimePreview">
                                                        <h4> Price:
                                                            <%- product.price %>$ </h4>
                                                        <div id="StartTime"> Start Time:
                                                            <%- moment(product.start_time).format('HH:mm:ss DD-MM-YYYY') %>
                                                        </div>
                                                        <div id="EndTime"> End Time:
                                                            <%- moment(product.end_time).format('HH:mm:ss DD-MM-YYYY') %>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <a href="#delete-<%-product._id%>" data-toggle="modal" class="btn btn-danger btnEdit">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <!-- ./row -->

                                <% soldProducts.forEach((product) => { %>
                                    <div class="modal fade" id="delete-<%-product._id%>">
                                        <form role="form" method="POST" action="/api/product/deleteProduct">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4>Delete
                                                            <%- product.name %>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>This action cannot redo. Are you sure delete item:
                                                            <b>
                                                                <%- product.name %>
                                                            </b>?</p>
                                                    </div>
                                                    <input type="hidden" name="idProduct" value="<%- product._id %>">
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                        <!-- ./panel -->

                    </div>
            </div>
        </div>
</body>

</html>