<!DOCTYPE html>

<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Product Detail</title>
        
        
        <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resources/css/style.css" rel="stylesheet" type="text/css">
        <script src="/resources/js/jquery-3.1.1.min.js" type="text/javascript"> </script>
        <script src="/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"> </script>
        <script src="/resources/js/socket.io.js"></script>
        <script src="/resources/js/script.js" type="text/javascript"></script>
        <!-- <script src="/resources/js/countTime.js" type="text/javascript"></script> -->
    
    </head>
<body>
    <!-- Header -->
    <%- include('partition/header.ejs') %>

    <!-- Content -->
    <div class="content container">
        
        <hr>
        <div class="row">

            <div class="col-md-4 col-lg-4 well">
                <img src="<%- product.image %>" alt="<%- product.image %>" class="imgZoom img-display table-bordered img-responsive">
            </div>

            
            <div class="col-md-8 col-lg-8 well" id="productDetail8">
                <h3><%- product.name %></h3>
                <div class="starRating">
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
                <hr >
                <div class="row">
                    
                    <div class="col-md-8 col-lg-8 ">
                        <div> 
                            <div class="itemTitle">Item Describe: </div>
                            <span class="describe"><i><%= product.description %></i></span>
                            <br>
                            <div class="itemTitle">Starting Price: <%= product.price%>$</div>
                            <br>
                            <div>
                                <span class="itemTitle"> Time Left: </span><div id="timeleft"> </div> 
                            </div>
                            <br>
                            <button type="button" class="btn btn-info btn-lg" id="checkStt" data-toggle="modal" onclick="checkStatus()">Check Your Status</button>
                        </div>
                        
                        <div class="bidPlace">
                            <div class="itemTitle">Current Bid: <span id="currentBid"> US $<%- maxPrice %></span></div>
                            <a href="/bidHistory?id=<%- product.id %>">[<span id="countBid"><%- countBid %></span> Bids]</a>
                            <form class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" min="<%- maxPrice %>" id="price">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" onclick="bidPlace()">Bid Place</button>
                                </span>
                            </form>
                            <div id="minPrice">Enter US $<%- maxPrice %> or More</div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-lg-4">
                        <div id="sellerInfo">
                            <p id="sellerAcc"> 
                                <a href="/userProfile?username=<%=product.provider%>"><%=product.provider%></a> 
                                <span id="numStars"> (450 <span class="glyphicon glyphicon-star"></span>)</span>
                            </p>
                            
                            <img class="img-responsive verifedimg" src="resources/images/verified.jpg" alt="">
                            <br>
                            <hr>
                            <p class="feedback">100% Positive feedback</p>
                            <ul>
                                <li class="glyphicon glyphicon-ok"> Consistently receives highest buyers' ratings</li>
                                <li class="glyphicon glyphicon-ok"> Ships items quickly</li>
                                <li class="glyphicon glyphicon-ok"> Has earned a track record of excellent service</li>
                            </ul>

                        </div>
                    </div>
                    
                </div>
            </div>
            

        </div>
        <!-- End row content -->

    </div>
    <!-- End content -->

    <!-- Modal check stt -->
    <div id="modalCheckStt" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Congratulations!</h3>
                </div>
                <div class="modal-body">
                    <h4>You've just won this Auction!</h4>
                    <div class="itemTitle">Item:  </div>
                    <span class="productName"><i> <%- product.name %> </i></span>
                    <br>
                    <div class="itemTitle">Your Bid: <span id="currentBid"> US $<%= maxPrice %></span></div>
                    <br>
                    <div class="itemTitle">Status:  </div>
                    <span style="color:green;">Waiting for pay</span>
                    <hr>
                    <h4>You have 2 days to complete buy this item by click following link: </h4>
                    <a href="/buyItem?id=<%-product._id%>"> Go to buy this item</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- /Modal check stt -->

    <!-- Message modal -->
    <div class="modal fade" id="modal-message">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Message From BKAuction:</h4>
                </div>
                <div class="modal-body">
                    <p class='message'></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Message modal -->

    <br>
    <!-- Footer -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="fb-comments col-md-8" data-href="detail?id=<%- product.id %>"
            data-width="850" data-numposts="5"></div>
    </div>
    <div align="center">
        Code by <a href="#"> Group 5 </a>
    </div>
    
    <!-- End footer -->

    <script src="/resources/js/moment.js"></script>
    <script>
        const end_time = "<%- product.end_time %>";
        console.log(end_time);
        let max = Number("<%- maxPrice %>");
        var socket = io();
        var bidPlace = function(){
            var newPrice = document.getElementById("price").value;
            if (Number(newPrice) < max ) {
                $('.message').html("You must bid greater than " + max)  ;
                $('#modal-message').modal('show')
                setTimeout(function () {
                    $('#modal-message').modal('hide')
                }, 3000);

                // alert("You must bid greater than "+max);
            } else {
                var obj = {
                    newPrice,
                    id : "<%- product._id %>",
                    username: "<%- username %>",
                }
                socket.emit('send price', obj);

            }
        }
        var checkStatus = function() {
            console.log('aaa');
            socket.emit("check status", "<%- product.id %>");
        }
        socket.on("cannot check now", () => {
            $('.message').html("This product is still in auction process!");
            $('#modal-message').modal('show')
            setTimeout(function () {
                $('#modal-message').modal('hide')
            }, 3000);
            // alert("This product is still in auction process!");
        });
        socket.on("result of auction", (result) => {
            console.log('bbb');
            document.getElementById("checkStt").setAttribute("data-target","#modalCheckStt");
            $("#checkStatus").click();
        })
        socket.on('response', function(val){
            $('.message').html(val);
            $('#modal-message').modal('show')
            setTimeout(function () {
                $('#modal-message').modal('hide')
            }, 3000);
            // alert(val);
        });
        socket.on('newPrice', function(val){
            if(val.id === "<%- product.id -%>") {
                document.getElementById('currentBid').innerText = "$"+val.newPrice;
                document.getElementById('minPrice').innerText = "Enter more US $"+val.newPrice+ "!";
                max = Number(val.newPrice);
                <% countBid = Number(countBid) +1 %>
                $('#countBid').html(<%- countBid %>) ;

            }
        })
    </script>
    <script src="/resources/js/detailpage.js"></script>

    <!--   plugin comment facebook-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1185086244911379',
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</body>

</html>
